<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.marklackey.heartbeatpb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="org.marklackey.heartbeatpb.HBApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.marklackey.heartbeatpb.MessagingActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.marklackey.heartbeatpb.LoginActivity"/>
        <activity android:name="org.marklackey.heartbeatpb.InviteActivity"/>
        <activity android:name="org.marklackey.heartbeatpb.AcceptOrRejectActivity"/>
        <activity android:name="org.marklackey.heartbeatpb.WaitingActivity"/>

        <activity android:name="org.marklackey.heartbeatpb.OverlayActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity android:name="org.marklackey.heartbeatpb.NoInternetActivity"/>
    </application>

</manifest>